@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

body {
  background-image: url('/src/Images/bg.png');
  width: 100%;
  background-position: center;
  background-size: cover;
  
  font-size: 27px;
  font-family: 'Dubai';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  
}

ul{
  margin-top: 0px;
}


